header{
    margin-top: 5vh;
    text-align: center;
  
}
body{
    background-color: rgb(39, 39, 39);
    color: aliceblue;
   
    
}
div{
    
    text-align: center;
    margin-top: 5vh;
    padding: 5px;
}
#display{
    text-align: center;
    margin-top: 20vh;
}

